.container{
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
}

.container >div{
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.container >div>h{
    font-weight: bolder ;
}

@media screen and (max-width: 800px) {
    .container{
        display: block;
      
    }
}